<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LogOut</key>
	<string>/m/logout</string>
	<key>Login</key>
	<string>/m/login</string>
	<key>UserInfo</key>
	<string>/m/userinfo</string>
	<key>QueryAllCompany</key>
	<string>/m/queryAllCompany</string>
	<key>DailyStock</key>
	<string>/m/dailystock</string>
	<key>UserStockCalendar</key>
	<string>/m/userstockcalendar</string>
	<key>CompanyReview</key>
	<string>/m/companyreview</string>
	<key>ContentrReply</key>
	<string>/m/contentreply</string>
	<key>Commentary</key>
	<string>/m/commentary</string>
	<key>DeleteAttention</key>
	<string>/m/deleteattention</string>
	<key>AddAttention</key>
	<string>/m/addattention</string>
	<key>AttentionData</key>
	<string>/m/attentiondata</string>
	<key>SavedData</key>
	<string>/m/saveddata</string>
	<key>ArticleURL</key>
	<string>/m/article</string>
	<key>NewesAnalysereportURL</key>
	<string>/m/newestanalysereports</string>
	<key>CompanyArticleURL</key>
	<string>/m/companyarticles</string>
	<key>CompanyAnalyReportURL</key>
	<string>/m/companyanalysereports</string>
	<key>GooGuuBaseURL</key>
	<string>http://www.googuu.net</string>
</dict>
</plist>
